<div>
  <div *ngIf="model" [contextMenu]="[chartContextMenu]">
    <canvas baseChart style="height:750px"
            [style.height]="chartHeight" 
            [datasets]="model.series"
            [labels]="labels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="onChartClicked($event)">
    </canvas>
    <div style="position:fixed;top:200px;left:-200px">
      <context-menu #chartContextMenu>
        <template *ngFor="let menuOption of model.contextMenuOptions" contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="chartContextMenuItemSelected($event.item)">
          {{item?.label}}: {{menuOption.text}}
        </template>
      </context-menu>
    </div>
  </div>
</div>