<div *ngIf="definition">
    <canvas baseChart
        [data]="definition.values"
        [labels]="definition.labels"
        [legend]="definition.legendEnabled"
        [options]="polarAreaChartOptions"
        [chartType]="polarAreaChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>