<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 offset-md-4">
                <loading-indicator [text]="'Loading Functionality...'"></loading-indicator>
            </div>
        </div>
    </div>
</div>