<div class="container">
        <div class="row no-gutters">
            <div class="col-md-12" >
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
                    <div class="container">
                        <div class="navbar-brand">
                            <span class="fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fas fa-cogs'"></span> {{parameters.header}}
                        </div>
                        <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                            <ul class="nav navbar-nav ml-auto">
                                <div class="btn-group" role="group" aria-label="Process List Controls">
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
                <tabset #processTabs>
                    <tab heading="Executing">
                        <div class="bs-callout bs-callout-default">
                            This list displays long running background processes that are currently executing on the system along with the details of those that have already completed.
                            You can choose to stop an executing process should you have access to it or alternatively you may delete the completed entries.
                        </div>
                        <div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search Processes..." #searchField [(ngModel)]="searchExpression" (keyup.enter)="newSearch()">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" (click)="newSearch()">Search</button>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="!loading">
                            <div *ngIf="searchResults.processes.length > 0">
                                <div class="row item-row no-gutters align-items-stretch mb-3">
                                    <div class="col-md-12" *ngFor="let process of searchResults.processes">
                                        <div class="card bg-white mb-3" role="button">
                                            <div class="card-body" (click)="onProcessSelected(process)">
                                                <div class="row mb-3">
                                                    <div class="col-mx-auto ml-3 align-self-center">
                                                        <img class="process-image mr-3" [src]="getThumbnailUrl(process)" (error)="ApplicationSettings.NO_IMAGE_URL">
                                                    </div>
                                                    <div class="col">
                                                        <h4 class="card-title" highlightText [pattern]="searchPattern" [text]="process.name" classToApply="matched-string"></h4>
                                                        <h6 class="card-subtitle mb-2 text-muted" highlightText [pattern]="searchPattern" [text]="process.description" classToApply="matched-string"></h6>
                                                        <progressbar [max]="100" [value]="process.progress">
                                                            <span class="text-nowrap">{{process.progress}} / {{max}}</span>
                                                        </progressbar>
                                                    </div>
                                                    <div class="col-mx-auto mr-3 align-self-center">
                                                        <button type="button" class="btn btn-danger" (click)="showDeletionConfirmation(process);$event.stopPropagation()"><i class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-sm table-striped mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">Status</th>
                                                                    <td>{{process.status}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Initiator</th>
                                                                    <td>{{process.initiatorName}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Start Time</th>
                                                                    <td>{{process.startTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">End Time</th>
                                                                    <td>{{process.endTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center" aria-label="Page Navigation">
                                    <div class="col-auto">
                                        <div class="input-group align-items-center">
                                            <button type="button" class="btn btn-primary" (click)="previousPage()">&laquo;</button>
                                            <span class="text-center mx-3">Page {{pageNumber}}</span>
                                            <button type="button" class="btn btn-primary" (click)="nextPage()">&raquo;</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="searchResults.processes.length == 0">
                                <div class="row justify-content-center">
                                    <div class="col-mx-auto">
                                        <span class="mt-3 text-muted text-center"><em>No results were found for the currently entered search criteria.</em></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="loading" class="col-md-4 offset-md-4 mt-3">
                            <loading-indicator [text]="'Searching...'"></loading-indicator>
                        </div>
                    </tab>
                    <tab heading="History">
                        <div class="row justify-content-center mt-3">
                            <div class="col-mx-auto">
                                <span class="mt-3 text-muted text-center"><em>Process History is currently unavailable.</em></span>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div *ngIf="deletionConfirmationVisible" [config]="{ show: true }" (onHidden)="onDeletionConfirmationHidden()" bsModal #deletionConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Deletion Confirmation</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeletionConfirmation()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                Are you sure that you want to delete this process?
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-auto ml-3">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" (click)="hideDeletionConfirmation()"><span class="fa fa-fw fa-times"></span> No</button>
                                    <button type="button" class="btn btn-primary" (click)="confirmDeletion()"><span class="fa fa-fw fa-check"></span> Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>