<div>
    <div class="table-header row justify-content-between">
        <div class="col">
            <div class="search-box input-group">
                <input type="text" class="form-control" placeholder="Search Terms..." #searchField [(ngModel)]="searchTerms" (keyup.enter)="dataTable.refreshData()">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"  (click)="reloadData()">Search</button>
                </span>
            </div>
        </div>
        <div class="col col-auto justify-self-end">
            <div class="table-controls btn-group" role="group">
                <button class="btn btn-secondary" (click)="dataTable.refreshData()"><span class="fa fa-refresh"></span></button>
                <data-table-column-selector [dataTable]="dataTable" class="btn-group" role="group"></data-table-column-selector>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 data-quality-table">
            <data-table #dqTable 
                [headerTitle]="'Record Data Quality'"
                [items]="data"
                [itemCount]="dataCount"
                [indexColumnVisible]="false"
                (reload)="setTableFilter($event)"
                (rowClick)="rowClick($event)"
                (rowDoubleClick)="rowDoubleClick($event)"
                [rowTooltip]="rowTooltip"
                [rowClickEnabled]="true"
                showReloading="true"
                >
                <data-table-column
                    fieldId="$CORPORATE_NUMBER"
                    header="Corporate Number"
                    width="20%"
                    sortable="true"
                    resizable="false">
                    <ng-template #dataTableCell let-item="item">
                        <span highlightText [pattern]="searchPattern" [text]="item.$CORPORATE_NUMBER" classToApply="matched-string"></span>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    fieldId="$LONG_DESCRIPTION"
                    header="Description"
                    sortable="false"
                    width="50%"
                    resizable="false">
                    <ng-template #dataTableCell let-item="item">
                        <span highlightText [pattern]="searchPattern" [text]="item.$LONG_DESCRIPTION" classToApply="matched-string"></span>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    fieldId="$CHRCTRSTC_COMPLETENESS"
                    header="Completeness"
                    width="15%"
                    sortable="true"
                    [resizable]="false">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.$CHRCTRSTC_COMPLETENESS | number : '2.2-2'}}</span>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    fieldId="$CHRCTRSTC_VALIDITY"
                    header="Validity"
                    width="15%"
                    sortable="true"
                    [resizable]="false">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.$CHRCTRSTC_VALIDITY | number : '2.2-2'}}</span>
                    </ng-template>
                </data-table-column>
            </data-table>
        </div>
    </div>
</div>