<!DOCTYPE html>
<html>
  <head>
    <base href="./" />
    <title>PiLog MDQM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Enable bootstrap 4 theme for ngx-bootstrap-->
    <script>window.__theme = 'bs4';</script>
    <app>Loading...</app>
  </body>
</html>