<div class="bg-white sticky-top" id="currentNavigation">
    <hr class="mt-0"/>
    <div class="row">
        <div class="col">
            <strong class="ml-3">Current Navigation</strong>
            <ul class="fa-ul">
                <li class="mt-2" *ngFor="let recordState of recordStatePath; let i = index" [ngStyle]="{'margin-left': i*15 + 'px'}">
                    <i class="fa-li fa fa-caret-right"></i>
                    <a href="javascript:void(0);" (click)="navigateToRecord(recordState.record.recordId)">{{recordState.record.valueString}}</a>
                </li>
                <li class="mt-2" [ngStyle]="{'margin-left': recordStatePath.length*15 + 'px'}">
                    <i class="fa-li fa fa-caret-right"></i>
                    <a href="javascript:void(0);" (click)="showNavigationModal()">{{pageState.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-ml-auto mr-3">
            <div class="row mb-1">
                <div class="col">
                    <button type="button" class="btn btn-secondary w-100" (click)="showNavigationModal()">
                        <i class="fa fa-fw fa-map-signs"></i><span class="d-none d-md-inline"> Navigation Tree</span>
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="button" class="btn btn-secondary w-100" *ngIf="pageState.fileState.hasValidationErrors()" (click)="showValidationErrorModal()">
                        <i class="fas fa-exclamation-triangle text-danger"></i><span class="d-none d-md-inline"> Invalid Data</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-0"/>
</div>
<div class="mt-3 mb-3">
    <div *ngFor="let recordState of pageState.recordStates">
        <div class="row mb-3">
            <div class="col-md-12">
                <record-editor *ngIf="recordState.access.visible" [id]="'R-' + recordState.record.recordId" [state]="recordState" (recordNavigation)="navigateToRecord($event)"></record-editor>
            </div>
        </div>
    </div>
  <button class="btn btn-secondary" *ngIf="referencingProperty != null" type="button" (click)="showValueLookup()">Add {{pageState.title}}</button>
</div>

<div *ngIf="valueLookupVisible" [config]="{ show: true }" (onHidden)="hideValueLookup()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{referenceState.propertyState.requirement.term}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideValueLookup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <record-value-lookup [valueState]="referenceState" (valueSelected)="onLookupSelection($event)"></record-value-lookup>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="navigationModalVisible" [config]="{ show: true }" (onHidden)="onNavigationModalHidden()" bsModal #navigationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><i class="fa fa-fw fa-map-signs"></i> Navigation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideNavigationModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <page-navigation-node [pageState]="pageState.fileState.getRootPageState()" (recordSelected)="onRecordSelection($event)"></page-navigation-node>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="validationErrorModalVisible" [config]="{ show: true }" (onHidden)="onValidationErrorModalHidden()" bsModal #validationErrorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><i class="fas fa-exclamation-triangle text-danger"></i> Invalid Data</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideValidationErrorModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="bs-callout bs-callout-default">
                        This list shows the invalid data identified on your record.  You can click on any of the error messages to navigate to the relevant data.
                    </div>
                    <div *ngFor="let error of valueErrors" class="mb-3">
                        <div class="card bg-light" role="button" (click)="onErrorSelection(error)">
                            <div class="card-body navigation-card">
                                <h5 class="card-title">{{error.instanceTerm}}</h5>
                                <div class="card-text">{{error.propertyTerm}}: <strong>{{error.propertyValueString}}</strong></div>
                                <div class="card-text text-danger">{{error.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>