<div class="row">
    <div class="col-lg-12">
        <page-view [state]="currentPage" (pageNavigation)="navigateToPage($event)" (recordNavigation)="navigateToRecord($event)"></page-view>
    </div>
</div>