<span class="mt-2">{{state.title}}</span>
<ul class="fa-ul ml-4">
    <li class="" *ngFor="let recordState of state.recordStates"> 
        <i class="fa-li fa fa-caret-right"></i>
        <div *ngIf="!recordState.loading">
            <a href="javascript:void(0);" (click)="navigateToRecord(recordState.record.recordId)">
                <i class="fas fa-exclamation-triangle text-danger" *ngIf="recordState.hasValidationErrors()"></i> 
                <i class="fas fa-pencil-alt text-success" *ngIf="recordState.updated"></i>
                {{recordState.record.valueString}}
            </a>
            <div class="list-unstyled mb-3" *ngFor="let childPageState of state.getChildPageStatesByParentRecordId(recordState.record.recordId)">
                <page-navigation-node [pageState]="childPageState" (pageSelected)="navigateToPage($event)" (recordSelected)="navigateToRecord($event)"></page-navigation-node>
            </div>
        </div>
    </li>
</ul>
