<div class="card">
    <div class="card-header bg-white">
        <span class="fa fa-map-signs fa-fw"></span> Navigation
    </div>
    <div class="card-body">
        <div class="ml-3">
            <page-navigation-node [pageState]="state.getRootPageState()" (pageSelected)="onPageSelected($event)" (recordSelected)="onRecordSelected($event)"></page-navigation-node>
        </div>
    </div>
</div>
