<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            {{parameters.brand}}
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapse()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
            <!-- <div class="collapse navbar-collapse"> -->
            <ul class="navbar-nav mr-auto">            
                <li class="nav-item">
                    <h6 class="mb-0">
                        <a routerLink="/main/home" class="nav-link" (click)="navLinkSelected()">
                            <i class="fas fa-home fa-fw" aria-hidden="true"></i> Home
                        </a>
                    </h6>
                </li>
                <li class="nav-item">
                    <h6 class="mb-0">
                        <a routerLink="/main/tasks" class="nav-link" (click)="navLinkSelected('tasks')">
                            <i class="fas fa-tasks fa-fw" aria-hidden="true"></i> Tasks
                            <span class="badge badge-pill ml-2" [ngClass]="{ 'badge-secondary': taskState == 'default', 'badge-warning': taskState == 'alert' }" *ngIf="heartbeat && heartbeat.taskCount > 0" [@badgeState]="taskState">{{heartbeat.taskCount}}</span>
                        </a>
                    </h6>
                </li>
                <li class="nav-item">
                    <h6 class="mb-0">
                        <a routerLink="/main/reports" class="nav-link" (click)="navLinkSelected('reports')">
                            <i class="far fa-chart-bar fa-fw" aria-hidden="true"></i> Reports
                            <span class="badge badge-pill ml-2" [ngClass]="{ 'badge-secondary': reportState == 'default', 'badge-warning': reportState == 'alert' }" *ngIf="heartbeat && heartbeat.reportCount > 0" [@badgeState]="reportState">{{heartbeat.reportCount}}</span>
                        </a>
                    </h6>
                </li>
                <li class="nav-item">
                    <h6 class="mb-0">
                        <a routerLink="/main/notifications" class="nav-link" (click)="navLinkSelected('notifications')">
                            <i class="far fa-bell fa-fw" aria-hidden="true"></i> Notifications
                            <span class="badge badge-pill ml-2" [ngClass]="{ 'badge-secondary': notificationState == 'default', 'badge-warning': notificationState == 'alert' }" *ngIf="heartbeat && heartbeat.notificationCount > 0" [@badgeState]="notificationState">{{heartbeat.notificationCount}}</span>
                        </a>
                    </h6>
                </li>
                <li class="nav-item">
                    <h6 class="mb-0">
                        <a routerLink="/main/processes" class="nav-link" (click)="navLinkSelected('processes')">
                            <i class="fas fa-cogs fa-fw" aria-hidden="true"></i> Processes
                            <span class="badge badge-pill ml-2" [ngClass]="{ 'badge-secondary': processState == 'default', 'badge-warning': processState == 'alert' }" *ngIf="heartbeat && heartbeat.processCount > 0" [@badgeState]="processState">{{heartbeat.processCount}}</span>
                        </a>
                    </h6>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <h6 class="mb-0">
                        <a routerLink="/login" class="nav-link">
                            <i class="fas fa-lock fa-fw" aria-hidden="true"></i> Logout
                        </a>
                    </h6>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="frame-header">
    <div class="container">
        <div class="row align-items-center py-3">
            <div class="col-md-7">
                <h1><span [class]="parameters?.icon" aria-hidden="true"></span> {{parameters?.title}} <small class="text-muted">{{parameters?.subTitle}}</small></h1>
            </div>
            <div class="col-md-5">
                <user></user>
            </div>
        </div>
    </div>
</header>
<div class="bg-white mt-3">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <p>Copyright PiLog, &copy; 2017</p>
</footer>