<div class="container">
    <div class="login-container col-xl-4 col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-auto">
        <div class="card">
            <div class="card-header">
                {{loginHeader}}
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="logo">
                            <img class="img-fluid" src="../../../assets/images/PiLogLogo.png" alt="...">
                        </div>
                    </div>
                </div>
                <div *ngIf="message" class="row">
                    <div class="col col-md-12">
                        <div [ngClass]="{ 'alert': message, 'alert-info': message.type==='info', 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
                            {{message.text}}
                        </div>
                    </div>
                </div>
                <div *ngIf="!newPasswordEntry; else newPasswordEntryTemplate">
                    <div class="row mt-3">
                        <div class="col col-md-12">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="username" (keyup.enter)="login()" required />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col col-md-12">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password" (keyup.enter)="login()" required />
                        </div>
                    </div>
                    <div class="row justify-content-left align-items-center flex-nowrap mt-3">
                        <div class="col-auto">
                            <button [disabled]="loading" class="btn btn-primary" (click)="login()">Login</button>
                        </div>
                        <div class="col-auto">
                            <loading-indicator *ngIf="loading"></loading-indicator>
                            <span *ngIf="!loading" dropdown>
                                <a href dropdownToggle (click)="false">Links</a>
                                <ul *dropdownMenu class="dropdown-menu">
                                    <li *ngFor="let link of links">
                                        <a class="dropdown-item" [href]="link.url">{{link.name}}</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <ng-template #newPasswordEntryTemplate>
                    <div class="row mt-3">
                        <div class="col col-md-12">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" (keyup.enter)="changePassword()" required />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col col-md-12">
                            <label for="newPasswordConfirmation">New Password Confirmation</label>
                            <input type="password" class="form-control" name="newPasswordConfirmation" [(ngModel)]="newPasswordConfirmation" (keyup.enter)="changePassword()" required />
                        </div>
                    </div>
                    <div class="row justify-content-left align-items-center mt-3">
                        <div class="col-md-auto">
                            <button [disabled]="loading" class="btn btn-primary" (click)="changePassword()">Login</button>
                        </div>
                        <div class="col">
                            <loading-indicator *ngIf="loading"></loading-indicator>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
