<div class="row mb-3">
    <div class="col">
        <div class="bs-callout bs-callout-default">
            The list below shows all of the user profiles that are available to you.  Please make your selection and be aware that unsaved work will be lost when switching to a new profile.
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngIf="loading">
            <loading-indicator></loading-indicator>
        </div>
        <div *ngIf="!loading">
            <div *ngFor="let profile of profiles" class="mb-3">
                <div class="card bg-light" role="button" (click)="onProfileSelection(profile)">
                    <div class="card-body profile-card">
                        <span highlightText [pattern]="searchPattern" [text]="profile.name" classToApply="matched-string"></span>
                        <small class="text-muted">{{profile.description}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>