<div class="row">
    <div class="col">
        <div *ngIf="loading">
            <loading-indicator></loading-indicator>
        </div>
        <div *ngIf="!loading">
            <div class="row mb-4 justify-content-center">
                <div class="col-mx-auto">
                    <label class="user-portrait" role="button" for="file-selector">
                        <img *ngIf="userPictureUrl" class="user-picture img-responsive rounded-circle" [src]="userPictureUrl" (error)="setNoProfilePicture()">
                        <img *ngIf="!userPictureUrl" class="user-picture img-responsive rounded-circle" src="../../../assets/images/no-profile-picture.jpg">
                        <input id="file-selector" type="file" style="display:none;" (change)="onFileSelectionChange($event)">
                    </label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="row align-items-center form-group" [ngClass]="{'has-warning':false}">
                        <div class="col-md-4 text-md-right text-sm-left">
                            <label>Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.name" [ngClass]="{'form-control-warning':false}">
                            <small *ngIf="false" class="form-control-feedback">Warning Message</small>
                        </div>
                    </div>
                    <div class="row align-items-center form-group" [ngClass]="{'has-warning':false}">
                        <div class="col-md-4 text-md-right text-sm-left">
                            <label>Surname</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.surname" [ngClass]="{'form-control-warning':false}">
                            <small *ngIf="false" class="form-control-feedback">Warning Message</small>
                        </div>
                    </div>
                    <div class="row align-items-center form-group" [ngClass]="{'has-warning':false}">
                        <div class="col-md-4 text-md-right text-sm-left">
                            <label>Email</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.emailAddress" [ngClass]="{'form-control-warning':false}">
                            <small *ngIf="false" class="form-control-feedback">Warning Message</small>
                        </div>
                    </div>
                    <div class="row align-items-center form-group" [ngClass]="{'has-warning':false}">
                        <div class="col-md-4 text-md-right text-sm-left">
                            <label>Mobile Phone</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.mobileNumber" [ngClass]="{'form-control-warning':false}">
                            <small *ngIf="false" class="form-control-feedback">Warning Message</small>
                        </div>
                    </div>
                    <div class="row align-items-center form-group" [ngClass]="{'has-warning':false}">
                        <div class="col-md-4 text-md-right text-sm-left">
                            <label>Work Phone</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.workTelephoneNumber" [ngClass]="{'form-control-warning':false}">
                            <small *ngIf="false" class="form-control-feedback">Warning Message</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div *ngIf="saving" class="col-mx-auto mr-3">
        <loading-indicator [text]="'Saving...'"></loading-indicator>
    </div>
    <div class="col-mx-auto">
        <button class="btn btn-primary" (click)="updateUserDetails()" [disabled]="loading || saving">Save</button>
    </div>
</div>