<div *ngIf="loggedIn" class="row no-gutter justify-content-end align-items-center">
    <div class="col text-right user-details">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Welcome, <strong><a href="javascript:void(0);" (click)="showUserEditor()">{{sessionDetails.userName}}</a></strong>
        <br/>
        <span class="small">You are logged in as <strong><a href="javascript:void(0);" (click)="showProfileSwitchLookup()">{{sessionDetails.userProfileDetails.name}}</a></strong></span>
    </div>
    <div class="col col-auto user-portrait no-gutter" role="button" (click)="showUserEditor()">
        <img *ngIf="userThumbnailUrl" class="user-thumb img-responsive rounded-circle" [src]="userThumbnailUrl" (error)="setNoThumbnail()">
        <img *ngIf="!userThumbnailUrl" class="user-thumb img-responsive rounded-circle" src="../../../assets/images/no-profile-thumbnail.jpg">
    </div>
</div>
<div *ngIf="isProfileSwitchLookupShown" [config]="{ show: true }" (onHidden)="onProfileSwitchLookupHidden()" bsModal #profileSwitchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">User Profile Switch</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideProfileSwitchLookup()">
                <span aria-hidden="true">&times;</span> 
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <user-profile-switch-lookup (profileSelected)="onProfileSwitchSelection($event)"></user-profile-switch-lookup>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isUserEditorShown" [config]="{ show: true }" (onHidden)="onUserEditorHidden()" bsModal #userEditorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="fa fa-fw fa-user-circle-o"></span> User Detail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideUserEditor()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <user-editor (userUpdated)="hideUserEditor()" (profilePictureUpdated)="onProfilePictureUpdated()"></user-editor>
                </div>
            </div>
        </div>
    </div>
</div>