<div>
    <div class="row mb-2">
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center">
            <small class="text-uppercase font-weight-bold">{{getCodeTypeTerm()}}</small>
        </div>
        <div class="col-lg-10 ml-3 ml-lg-0 align-items-center">
            <div class="row">
                <div class="col-2 d-flex align-items-center px-0">
                    <div class="form-group w-100 mb-0">
                        <select [(ngModel)]="valueCriteria.operator" class="form-control">
                            <option *ngFor="let operator of operators" [ngValue]="operator.id" >{{operator.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-10">
                    <input class="form-control w-100" type="text" [(ngModel)]="valueCriteria.value"/>
                </div>
            </div>
        </div>
    </div>
</div>