<div>
    <div class="bs-callout bs-callout-default">
        Please enter the search criteria that we can use to find the item you are looking for. Your search results will be displayed, 
        from which you can select an item to see the functionalities available for execution. If the item you require is not available 
        in the search results, you'll be offered the option to create a new item.
    </div>
    <div class="row mb-3">
        <h5 class="col-lg-9 col-md-10 col-sm-11">Advanced Search</h5>
        <div class="col-lg-3 col-md-2 col-sm-1">
            <button type="button" class="btn btn-primary float-right" (click)="onSearch()"><i class="fas fa-fw fa-search"></i> Search</button>
            <button type="button" class="btn btn-danger float-right" (click)="onClearValues()"><i class="far fa-fw fa-times-circle"></i> Clear</button>
        </div>
    </div>
</div>
<div *ngIf="recordFilterCriteria != null">
    <div *ngFor="let filterCriteria of recordFilterCriteria.criteria" >
        <filter-criteria [inputFilterCriteria]="filterCriteria" [inputTerminology]="terminology"></filter-criteria>
    </div>
</div>