<div class="card mb-3">
    <div class="card-header" (click)="isCollapsed = !isCollapsed">
        <div class="row">
            <div class="col-11">
                {{getFilterCriteriaTerm()}}
            </div>
            <div *ngIf="!isCollapsed" class="col-1 d-flex justify-content-end">
                <i class="fas fa-chevron-up float-right my-auto"></i>
            </div>
            <div *ngIf="isCollapsed" class="col-1 d-flex justify-content-end">
                <i class="fas fa-chevron-down float-right my-auto"></i>
            </div>
        </div>
    </div>
    <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"> 
        <div *ngIf="isAllowInstanceSelection">
            <instance-criterion 
            [inputDrCriteria]="filterCriteria"
            [inputTerminology]="terminology">
            </instance-criterion>
        </div>
        <div *ngFor="let organizationCriterion of filterCriteria.organizationCriteria" >
            <organization-criterion 
                [inputOrganizationCriterion]="organizationCriterion"
                [inputTerminology]="terminology">
            </organization-criterion>
        </div> 
        <div *ngFor="let codeCriterion of filterCriteria.codeCriteria" >
            <code-criterion 
                [inputCodeCriterion]="codeCriterion" 
                [inputTerminology]="terminology">
            </code-criterion>
        </div> 
        <div *ngFor="let propertyCriterion of filterCriteria.propertyCriteria" >
            <property-criterion 
                [inputPropertyCriterion]="propertyCriterion" 
                [inputTerminology]="terminology"
                [inputFilterCriteria]="filterCriteria">
            </property-criterion>
        </div>
    </div>
</div>
