<div>
    <div class="row mb-2">
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center">
            <div *ngIf="drFilterCriteria.instanceLabel != null">
                <small class="text-uppercase font-weight-bold">{{drFilterCriteria.instanceLabel}}</small>
            </div>
            <div *ngIf="drFilterCriteria.instanceLabel == null">
                <small class="text-uppercase font-weight-bold">Instance</small>
            </div>
        </div>
        <div class="col-lg-10 ml-3 ml-lg-0 align-items-center">
            <div class="row">
                <div class="col-2 d-flex align-items-center px-0">
                    <div class="form-group w-100 mb-0">
                        <select [(ngModel)]="drFilterCriteria.instanceOperator" class="form-control">
                            <option *ngFor="let operator of operators" [ngValue]="operator.id" >{{operator.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control w-100" type="text" [(ngModel)]="instanceDisplayValue" (keyup)="onUserInput($event)"/>
                        <button class="btn btn-secondary" type="button" (click)="showValueLookup()"><span class="fa fa-search"></span></button>
                        <button class="btn btn-secondary" type="button" (click)="clearSelectedValue()"><span class="fa fa-times"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isValueLookupShown" [config]="{ show: true }" (onHidden)="onValueLookupHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Instance Selection</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideValueLookup()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="search-box input-group">
                                <input type="text" class="form-control" placeholder="Search Instance..." #searchField [(ngModel)]="searchString" (keyup.enter)="reloadValues()">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" (click)="reloadValues()">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div *ngIf="loading">
                                <loading-indicator></loading-indicator>
                            </div>
                            <div *ngIf="!loading">
                                <div *ngFor="let instance of instanceLookupOptions" class="mb-3">
                                    <div class="card bg-light" role="button" (click)="onInstanceSelection(instance)">
                                        <div class="card-body value-card">
                                            <span highlightText [pattern]="searchPattern" [text]="instance.term" classToApply="matched-string"></span>
                                            <small class="text-muted">{{instance.definition}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>