<div>
    <div class="row mb-2">
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center text-uppercase">
            <small class="text-uppercase font-weight-bold">{{getPropertyTerm()}}</small>
        </div>
        <div class="col-lg-10 ml-3 ml-lg-0 align-items-center">
            <div class="row">
                <div class="col-2 d-flex align-items-center px-0">
                    <div class="form-group w-100 mb-0">
                        <select [(ngModel)]="selectedOperator" (change)="operatorChanged()" class="form-control">
                            <option *ngFor="let op of operators" [ngValue]="op.id" >{{op.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-10 align-items-center">
                    <div class="input-group">
                        <div *ngFor="let criterion of valueCriteria" class="w-100">
                            <div [ngSwitch]="criterion.type">
                                <concept-type #valueComponent *ngSwitchCase="'CONTROLLED_CONCEPT'" 
                                    [inputValueCriterion]="criterion" 
                                    [inputPropertyId]="propertyCriterion.propertyId"
                                    [inputFilterCriteria]="filterCriteria"
                                    [inputTerminology]="terminology">
                                </concept-type>
                                <boolean-type #valueComponent *ngSwitchCase="'BOOLEAN_TYPE'" 
                                    [inputValueCriterion]="criterion"
                                    [inputPropertyId]="propertyCriterion.propertyId"
                                    [inputFilterCriteria]="filterCriteria">
                                </boolean-type>
                                <document-reference-type #valueComponent *ngSwitchCase="'DOCUMENT_REFERENCE'" 
                                    [inputValueCriterion]="criterion" 
                                    [inputPropertyId]="propertyCriterion.propertyId"
                                    [inputFilterCriteria]="filterCriteria"
                                    [inputTerminology]="terminology">
                                </document-reference-type>
                                <date-time-type #valueComponent *ngSwitchCase="'DATE_TIME_TYPE'" 
                                    [inputValueCriterion]="criterion"
                                    [inputPropertyId]="propertyCriterion.propertyId">
                                </date-time-type>
                                <default-type #valueComponent *ngSwitchDefault 
                                    [inputValueCriterion]="criterion">
                                </default-type>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>