<div class="row">
    <div class="col-md-12">
        <div *ngIf="!loading">
            <div *ngIf="groupHandle">
                <div *ngIf="groupHandle.functionalities.length > 0">
                    <div *ngFor="let functionality of groupHandle.functionalities" class="mb-3">
                        <div class="card bg-light" role="button" (click)="onFunctionalitySelected(functionality)">
                            <div class="card-body functionality-card">
                                <span><i [class]="functionality.iconUri" aria-hidden="true"></i> {{functionality.name}}</span>
                                <small class="text-muted">{{functionality.description}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let subGroupHandle of groupHandle.subGroups">
                    <div *ngIf="subGroupHandle.functionalities.length > 0">
                        <h3>{{subGroupHandle.name}}</h3>
                        <hr/>
                        <div *ngFor="let functionality of subGroupHandle.functionalities" class="mb-3">
                            <div class="card bg-light" role="button" (click)="onFunctionalitySelected(functionality)">
                                <div class="card-body functionality-card">
                                    <span><i [class]="functionality.iconUri" aria-hidden="true"></i> {{functionality.name}}</span>
                                    <small class="text-muted">{{functionality.description}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="loading" class="col-md-4 offset-md-4">
            <loading-indicator [text]="'Loading Functionality...'"></loading-indicator>
        </div>
    </div>
</div>