a#scroll-to-top {
	
	/* Background image, replace in images folder */
	background: url(../images/arrow.png) no-repeat center center;
	
	/* Match to background image size */
	width: 35px;
	height: 35px;
	
	/* Postion on the page */
	position: fixed;	
	right: 30px;
	bottom: 60px;
	
	/* Hide link text */
	text-indent: -9999px;
	font-size: 0;
	
	/* Other */
	cursor: pointer;	
	outline: 0;
	
}