#lobbybox {
        padding:7px;
        background: #000;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        width:500px;
        color: #fff;
        position:absolute;
        left:-50%;
        top:-50%;
        z-index:100;
        display:none;
}

.lobbybox-holder {
    background:#e8e8e8;
    padding:30px 28px 29px;
}
.lobbybox iframe {
    display: block;
    width: 100%;
}
.lobbybox h2 {        
    color:black;
    font-size:23px;
    line-height:25px;
    font-weight:normal;
    padding:0 0 5px 35px;
    margin:0 0 7px;
    text-transform:uppercase;
    background:url(http://localhost:8080/new/images/ico-reg.png) no-repeat;
}
.lobbybox p {
    margin:0;
    color:black;
}
/* form-box */
.lobbybox-form {
    overflow:hidden;
    padding:48px 0 0;
    margin:0 -20px 0 0;
}
.lobbybox-form .cols {
    overflow:hidden;
    padding:0 0 40px;
}
.lobbybox-form .col {
    float:left;
    margin:0 14px 0 3px;
    margin-left: 40px;
    margin-right: 100px;
}
.lobbybox-form .row {
    overflow:hidden;
    padding:0 0 14px;
}
.lobbybox-form .row-submit {
    padding:0 30px 0 0;
    overflow:hidden;
}
.lobbybox-form input[type="text"] {
    font-size:15px;
    line-height:16px;
    width:320px;
    float:left;
    margin:0;
    padding:14px 13px 11px;
    outline:none;
    border:1px solid #000;
    background:#f4f4f4;
    -webkit-box-shadow: inset 2px 2px 2px 0px #a6a6a6;
    box-shadow: inset 2px 2px 2px 0px #a6a6a6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lobbybox-form input[type="password"] {
    font-size:15px;
    line-height:16px;
    width:320px;
    float:left;
    margin:0;
    padding:14px 13px 11px;
    outline:none;
    border:1px solid #000;
    background:#f4f4f4;
    -webkit-box-shadow: inset 2px 2px 2px 0px #a6a6a6;
    box-shadow: inset 2px 2px 2px 0px #a6a6a6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lobbybox-form .submit {
    float:right;
    border:3px solid #2c2c2c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:0 0 0 14px;
}
.lobbybox-form .submit input {
    float:right;
    background: #1a9fe3;
    background: -moz-linear-gradient(top,  #1a9fe3 0%, #158ec6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a9fe3), color-stop(100%,#158ec6));
    background: -webkit-linear-gradient(top,  #1a9fe3 0%,#158ec6 100%);
    background: -o-linear-gradient(top,  #1a9fe3 0%,#158ec6 100%);
    background: -ms-linear-gradient(top,  #1a9fe3 0%,#158ec6 100%);
    background: linear-gradient(to bottom,  #1a9fe3 0%,#158ec6 100%);
    color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #000;
    margin:0;
    padding:0;
    font-size:15px;
    line-height:17px;
    text-shadow:0 1px 1px #0d5679;
    width:158px;
    height:45px;
    cursor:pointer;
}
.lobbybox-form .submit:hover input {
    background: #2698d4;
    background: -moz-linear-gradient(top,  #2698d4 0%, #2698d4 1%, #269ad7 2%, #1c92d0 2%, #1c94d3 2%, #1a92d1 3%, #1a94d5 3%, #1892d1 3%, #1a94d3 3%, #1a94d3 4%, #138fcd 5%, #128ece 14%, #118dcb 14%, #128ccb 18%, #118cc8 19%, #1187c4 32%, #1286c1 33%, #1185c0 37%, #1184bd 38%, #1285be 41%, #0f82bb 42%, #117cb2 58%, #0d77a9 68%, #0e77a7 73%, #0c75a5 74%, #0e72a3 84%, #0b6fa0 84%, #0e709f 86%, #0d6e9b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2698d4), color-stop(1%,#2698d4), color-stop(2%,#269ad7), color-stop(2%,#1c92d0), color-stop(2%,#1c94d3), color-stop(3%,#1a92d1), color-stop(3%,#1a94d5), color-stop(3%,#1892d1), color-stop(3%,#1a94d3), color-stop(4%,#1a94d3), color-stop(5%,#138fcd), color-stop(14%,#128ece), color-stop(14%,#118dcb), color-stop(18%,#128ccb), color-stop(19%,#118cc8), color-stop(32%,#1187c4), color-stop(33%,#1286c1), color-stop(37%,#1185c0), color-stop(38%,#1184bd), color-stop(41%,#1285be), color-stop(42%,#0f82bb), color-stop(58%,#117cb2), color-stop(68%,#0d77a9), color-stop(73%,#0e77a7), color-stop(74%,#0c75a5), color-stop(84%,#0e72a3), color-stop(84%,#0b6fa0), color-stop(86%,#0e709f), color-stop(100%,#0d6e9b));
    background: -webkit-linear-gradient(top,  #2698d4 0%,#2698d4 1%,#269ad7 2%,#1c92d0 2%,#1c94d3 2%,#1a92d1 3%,#1a94d5 3%,#1892d1 3%,#1a94d3 3%,#1a94d3 4%,#138fcd 5%,#128ece 14%,#118dcb 14%,#128ccb 18%,#118cc8 19%,#1187c4 32%,#1286c1 33%,#1185c0 37%,#1184bd 38%,#1285be 41%,#0f82bb 42%,#117cb2 58%,#0d77a9 68%,#0e77a7 73%,#0c75a5 74%,#0e72a3 84%,#0b6fa0 84%,#0e709f 86%,#0d6e9b 100%);
    background: -o-linear-gradient(top,  #2698d4 0%,#2698d4 1%,#269ad7 2%,#1c92d0 2%,#1c94d3 2%,#1a92d1 3%,#1a94d5 3%,#1892d1 3%,#1a94d3 3%,#1a94d3 4%,#138fcd 5%,#128ece 14%,#118dcb 14%,#128ccb 18%,#118cc8 19%,#1187c4 32%,#1286c1 33%,#1185c0 37%,#1184bd 38%,#1285be 41%,#0f82bb 42%,#117cb2 58%,#0d77a9 68%,#0e77a7 73%,#0c75a5 74%,#0e72a3 84%,#0b6fa0 84%,#0e709f 86%,#0d6e9b 100%);
    background: -ms-linear-gradient(top,  #2698d4 0%,#2698d4 1%,#269ad7 2%,#1c92d0 2%,#1c94d3 2%,#1a92d1 3%,#1a94d5 3%,#1892d1 3%,#1a94d3 3%,#1a94d3 4%,#138fcd 5%,#128ece 14%,#118dcb 14%,#128ccb 18%,#118cc8 19%,#1187c4 32%,#1286c1 33%,#1185c0 37%,#1184bd 38%,#1285be 41%,#0f82bb 42%,#117cb2 58%,#0d77a9 68%,#0e77a7 73%,#0c75a5 74%,#0e72a3 84%,#0b6fa0 84%,#0e709f 86%,#0d6e9b 100%);
    background: linear-gradient(to bottom,  #2698d4 0%,#2698d4 1%,#269ad7 2%,#1c92d0 2%,#1c94d3 2%,#1a92d1 3%,#1a94d5 3%,#1892d1 3%,#1a94d3 3%,#1a94d3 4%,#138fcd 5%,#128ece 14%,#118dcb 14%,#128ccb 18%,#118cc8 19%,#1187c4 32%,#1286c1 33%,#1185c0 37%,#1184bd 38%,#1285be 41%,#0f82bb 42%,#117cb2 58%,#0d77a9 68%,#0e77a7 73%,#0c75a5 74%,#0e72a3 84%,#0b6fa0 84%,#0e709f 86%,#0d6e9b 100%);
}
.lobbybox-form .submit.pressed {margin:2px 0 -2px 14px;}
.lobbybox-form .submit.pressed input {color:#0c4f6f;}
.lobbybox-form input[type="reset"] {
    float:right;
    width:70px;
    height:30px;
    font-size:15px;
    line-height:17px;
    color:#fff;
    text-shadow:0 1px 1px #0d5679;
    margin:10px 0 0;
    padding:0;
    outline:none;
    cursor:pointer;
    border:0;
    background:none;
}
.styled-select select {
    background: transparent;
    width: 350px;
    padding: 5px;
    font-size: 15px;
    line-height: 16px;
    float: left;
    margin: 0;
    padding: 14px 13px 11px;
    outline: none;
    border: 1px solid black;
    background: #F4F4F4;
    -webkit-box-shadow: inset 2px 2px 2px 0px #A6A6A6;
    box-shadow: inset 2px 2px 2px 0px #A6A6A6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 48px;
}