/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2014, 7:56:02 PM
    Author     : Andre
*/
#search{
    position:absolute;
    top:50%;
    left:50%;
}

html, body { 
    height: 100%;  
}
body { 
    margin: 0;  
    padding: 0;
}
.Container { 
    width: 100%;
    height: 80%; 
    padding: 0; 
    font-size: 12px;
    vertical-align: middle;    
}
.InnerContainer
{  
    margin:0 auto;
    width:400px;
    height:400px;
}

#search_result_box {
    border-style:double;
}

#search_result_row {
    padding: 2px 2px 0px 2px;
}

div#search_result_row {
    width:99%;
    display:flex;
    align-items:stretch;
}
div#search_result_row div {
    flex: 1;
}

#search_div{
}
.search_textbox{
    background-color:white;
    box-shadow: 2px 2px 2px #888888;
    height: 34px;
    width: 340px;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
}
.search_operator, .search_textbox
{       
    background-color:white;
    box-shadow: 2px 2px 2px #888888;
    height: 34px;
    width: 340px;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search_adv_textbox{
    font-size: 12px;
    background-color:white;
    box-shadow: 2px 2px 2px #888888;
    height: 34px;
    width: 200px;
    padding: 2px 2px 2px 2px;
}

.button{
    border: none;
    height: 36px;
    width: 36px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.search_button{
    background-image: url(../images/searchIcon.png);
}

.page_next_button{
    background-image: url(../images/pageNextIcon.png);
}

.page_previous_button{
    background-image: url(../images/pagePreviousIcon.png);
}

.horizontal-align-right
{
    float:right;
    width:100px;
}

.horizontal-align-left
{
    float:left;
    width:100px;
}

.horizontal-align-centre
{
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.tree {
    margin: 0;
    padding: 0;
    width: 500px;
}

.node {
    background-color:lightgrey;
    font-weight:bold;
    margin: 1px;
    color: black;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    background-color:lightgrey;
}
.element {
    padding: 5px 10px;
    background-color:white;
}