<div class="row">
    <div class="col">
        <div *ngFor="let attachment of state.value.attachments" class="mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <a [href]="attachmentUrl + attachment.attachmentId" download="attachment.filePath">{{attachment.getFilename()}}</a>
                        <button class="btn btn-sm btn-outline-danger" type="button" (click)="removeAttachment(attachment.attachmentId)"><span class="fa fa-times"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<small *ngIf="state.propertyState.validationErrors.length > 0" class="form-control-feedback">{{state.propertyState.validationErrors[0].message}}</small>
<label class="btn btn-sm btn-outline-success" for="file-selector">
    <span class="fa fa-fw fa-plus"></span> Add
    <input id="file-selector" type="file" style="display:none;" (change)="onFileSelectionChange($event)">
</label>