<div class="boolean-editor">
    <label class="custom-control">
        <input id="radioTrue" [name]="state.record.recordId + state.requirement.parentProperty.propertyId" [checked]="state?.value?.value" (change)="onValueChange($event)" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Yes</span>
    </label>
    <label class="custom-control">
        <input id="radioFalse" [name]="state.record.recordId + state.requirement.parentProperty.propertyId" [checked]="!state?.value?.value" (change)="onValueChange($event)" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">No</span>
    </label>
    <label class="custom-control">
        <input id="radioUnspecified" [name]="state.record.recordId + state.requirement.parentProperty.propertyId" [checked]="state?.value?.value == null" (change)="onValueChange($event)" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Unspecified</span>
    </label>
</div>