<div class="time-editor">
    <div class="input-group">
        <input type="text" class="form-control" id="propertyRequirement.propertyId" [(ngModel)]="dateString" (blur)="onBlur()" [ngClass]="{'form-control-warning':state.propertyState.validationWarnings.length > 0}">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="toggleDatePicker()"><span class="fa fa-calendar"></span></button>
        </span>
        <div *ngIf="showDatePicker" style="position: absolute; z-index:10; top:100%; right:0px; min-height:290px;">
            <datepicker [(ngModel)]="date" [showWeeks]="true" (ngModelChange)="onPickerModelChange($event)" (selectionDone)="onDateSelected()"></datepicker>
        </div>
    </div>
    <small *ngIf="dateState.propertyState.validationErrors.length > 0" class="form-control-feedback">{{dateState.propertyState.validationErrors[0].message}}</small>
</div>

