<div *ngIf="state.pullUp">
  <div *ngIf="activeState">
      <record-editor [state]="activeState"></record-editor>
  </div>
</div>
<div *ngIf="!state.pullUp" class="document-reference-editor">
  <div class="row">
    <div class="col">
      <div  class="mb-3" *ngFor="let reference of state.value.references">
        <div class="card bg-light navigation-card" role="button" *ngIf="state.value.parentRecord.getRecord(reference.conceptId); let referencedRecord">
          <div class="card-body reference-card navigation-card" (click)="navigateToRecord(referencedRecord.recordId)">
            <div class="d-flex justify-content-between align-items-center">
              <span>{{referencedRecord.valueString}}</span>
                <button class="btn btn-outline-danger btn-sm ml-3" type="button" (click)="showDeletionConfirmation(referencedRecord.recordId);$event.stopPropagation()">
                    <span class="fa fa-times"></span>
                </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let temporaryRecordStateId of state.temporaryRecordStateIds" class="mb-3">
        <div class="card" role="button">
          <div class="card-body">
            <loading-indicator [text]="'Adding new record...'"></loading-indicator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row">
    <button class="btn btn-outline-success btn-sm" type="button" (click)="showValueLookup()"><span class="fa fa-fw fa-plus"></span> Add</button>
  </div>
</div>
<div *ngIf="valueLookupVisible" [config]="{ show: true }" (onHidden)="hideValueLookup()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{state.propertyState.requirement.term}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideValueLookup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <record-value-lookup [valueState]="state" (valueSelected)="onLookupSelection($event)"></record-value-lookup>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="deletionConfirmationVisible" [config]="{ show: true }" (onHidden)="onDeletionConfirmationHidden()" bsModal #deletionConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Deletion Confirmation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeletionConfirmation()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            Are you sure that you want to delete this record?
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-auto ml-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" (click)="hideDeletionConfirmation()"><span class="fa fa-fw fa-times"></span>No</button>
                                <button type="button" class="btn btn-primary" (click)="confirmDeletion()"><span class="fa fa-fw fa-check"></span>Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>