<div class="row align-items-center form-group">
    <div class="col-md-4 text-md-right text-sm-left">
        <small>{{state.requirement.term}}</small>
    </div>
    <div [ngSwitch]="state.requirement.value.type" class="col-md-8">
        <string-editor *ngSwitchCase="'STRING'" [state]="state.valueState"></string-editor>
        <text-editor *ngSwitchCase="'TEXT'" [state]="state.valueState"></text-editor>
        <number-editor *ngSwitchCase="'NUMBER'" [state]="state.valueState"></number-editor>
        <controlled-concept-editor *ngSwitchCase="'CONTROLLED_CONCEPT'" [state]="state.valueState"></controlled-concept-editor>
        <attachment-list-editor *ngSwitchCase="'ATTACHMENT'" [state]="state.valueState"></attachment-list-editor>
        <boolean-editor *ngSwitchCase="'BOOLEAN'" [state]="state.valueState"></boolean-editor>
        <measured-number-editor *ngSwitchCase="'MEASURED_NUMBER'" [state]="state.valueState"></measured-number-editor>
        <time-editor *ngSwitchCase="'TIME'" [state]="state.valueState"></time-editor>
        <date-editor *ngSwitchCase="'DATE'" [state]="state.valueState"></date-editor>
        <date-time-editor *ngSwitchCase="'DATE_TIME'" [state]="state.valueState"></date-time-editor>
    </div>
</div>