<div class="measured-number-editor">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" id="propertyRequirement.propertyId" [(ngModel)]="state.value.number.number" (blur)="onValueBlur()" [ngClass]="{'form-control-warning':state.propertyState.hasValidationErrors()}">
            <small *ngIf="state.propertyState.validationErrors.length > 0" class="form-control-feedback">{{state.propertyState.validationErrors[0].message}}</small>
        </div>
        <div class="uom-textfield col-md-6 input-group">
            <input [(ngModel)]="state.value.unitOfMeasure.term" [ngClass]="{'form-control-warning':state.propertyState.hasValidationErrors()}"
                [typeahead]="dataSource"
                (typeaheadLoading)="changeTypeaheadLoading($event)"
                (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                (typeaheadOnSelect)="onTypeaheadSelection($event)"
                typeaheadOptionsLimit="7"
                typeaheadOptionField="term"
                typeaheadWaitMs="500"
                typeaheadMinLength="1"
                class="form-control"
                (blur)="hideOptions($event)"
                (keydown.ArrowDown)="showOptions($event)">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="showValueLookup()"><span class="fa fa-search"></span></button>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="setSelectedValue(null)"><span class="fa fa-times"></span></button>
            </span>                
        </div>
        <small *ngIf="state.propertyState.validationErrors.length > 0" class="form-control-feedback">{{state.propertyState.validationErrors[0].message}}</small>
    </div>
</div>
<div *ngIf="isValueLookupShown" [config]="{ show: true }" (onHidden)="onValueLookupHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{state.propertyState.requirement.term}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideValueLookup()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <record-value-lookup [valueState]="state.unitOfMeasureState" (valueSelected)="onLookupSelection($event)"></record-value-lookup>
                </div>
            </div>
        </div>
    </div>
</div>