<div class="string-editor">
    <input type="text" class="form-control" id="state.requirement.parentProperty.propertyId" [(ngModel)]="state.value.string" (blur)="announceValueUpdate()" [ngClass]="{'form-control-warning':state.propertyState.validationWarnings.length > 0}">
    <small *ngIf="state.propertyState.validationWarnings.length > 0" class="form-control-feedback">{{state.propertyState.validationWarnings[0].message}}</small>
</div>