<div class="string-editor">
    <input 
        type="text" 
        class="form-control" 
        id="propertyRequirement.propertyId" 
        [(ngModel)]="stringState.value.string" 
        (blur)="announceValueUpdate()" 
        [ngClass]="{'is-invalid':stringState.propertyState.hasValidationErrors()}"
        [readonly]="!stringState.propertyState.access.editable"
    >
    <small *ngIf="stringState.propertyState.validationErrors.length > 0" class="invalid-feedback">{{stringState.propertyState.validationErrors[0].message}}</small>
</div>