<div class="time-editor">
    <input type="text" class="form-control" id="timeState.requirement.parentProperty.propertyId" [(ngModel)]="timeString" (blur)="onBlur()" [ngClass]="{'form-control-warning':timeState.propertyState.validationWarnings.length > 0}">
    <small *ngIf="timeState.propertyState.validationErrors.length > 0" class="form-control-feedback">{{timeState.propertyState.validationErrors[0].message}}</small>
</div>

