<div class="container">
    <div class="row no-gutters">
        <div class="col-md-12" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fas fa-tasks'"></span> {{parameters.header}}
                    </div>
                    <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                        <ul class="nav navbar-nav ml-auto">
                            <div class="btn-group" role="group" aria-label="Task List Controls">
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <tabset #taskTabs>
                <tab heading="Pending">
                    <div class="bs-callout bs-callout-default">
                        Please enter the search terms that we can use to find the tasks you are looking for.  Your search results will be displayed, 
                        from which you can select a task to to perform.
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Tasks..." #searchField [(ngModel)]="searchExpression" (keyup.enter)="newSearch()">
                            <button class="btn btn-primary" type="button" (click)="newSearch()">Search</button>
                        </div>
                    </div>
                    <div *ngIf="!loading">
                        <div *ngIf="searchResults.tasks.length > 0">
                            <div class="row task-row no-gutters align-items-stretch mb-3">
                                <div class="col-lg-12 col-md-12 pb-3" *ngFor="let task of searchResults.tasks">
                                    <div class="card task-card bg-white h-100" role="button" (click)="onTaskSelected(task)">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2 text-center">
                                                    <div class="user-portrait" role="button">
                                                        <img class="user-thumb img-responsive rounded-circle" [src]="getThumbnailUrl(task)" (error)="ApplicationSettings.NO_IMAGE_URL">
                                                    </div>
                                                    <div class="row no-gutters">
                                                        <span class="col mt-3 text-center">{{task.fromUserDisplayName}}</span>
                                                    </div>
                                                    <div class="row no-gutters">
                                                        <small class="col text-center text-muted">{{task.timeIssued | date:'yyyy-MM-dd'}}</small>
                                                    </div>
                                                    <div class="row no-gutters">
                                                        <small class="col text-center text-muted">{{task.timeIssued | date:'HH:mm'}}</small>
                                                    </div>
                                                </div>
                                                <div class="col-mx-auto border border-left-0 border-top-0 border-bottom-0 border-secondary d-none d-md-block">
                                                    <!-- Show a dividing border on the right of this column on screens larged or equal to medium -->
                                                </div>
                                                <div class="col m-3 border border-left-0 border-top-0 border-right-0 border-secondary d-md-none">
                                                    <!-- Show a dividing border on the bottom of this column on screens smaller than medium -->
                                                </div>
                                                <div class="w-100 d-md-none"><!-- Force column wrapping here on small screens --></div>
                                                <div class="col">
                                                    <div class="row justify-content-between flex-nowrap">
                                                        <div class="col-md-11">
                                                            <h4 class="card-title" highlightText [pattern]="searchPattern" [text]="task.taskName" classToApply="matched-string"></h4>
                                                            <h6 class="card-subtitle mb-2 text-muted" highlightText [pattern]="searchPattern" [text]="task.taskDescription" classToApply="matched-string"></h6>
                                                        </div>
                                                        <div class="col-mx-auto mx-3">
                                                            <i class="far fa-check-square fa-3x text-success"></i>
                                                        </div>
                                                    </div>
                                                    <div class="text-start mt-3 item-card d-flex flex-column justify-content-between" role="button" (click)="onTaskSelected(task)">
                                                        <div class="row no-gutters">
                                                            <div class="col-3 text-right pr-1">Priority</div><strong class="col-9 text-success">Normal</strong>
                                                        </div>
                                                        <div class="row no-gutters" *ngFor="let field of task.fields">
                                                            <div class="col-3 text-right pr-1">{{field.name}}</div><strong class="col-9" highlightText [pattern]="searchPattern" [text]="field.value" classToApply="matched-string"></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center" aria-label="Page Navigation">
                                <div class="col-auto">
                                    <div class="input-group align-items-center">
                                        <button type="button" class="btn btn-primary" (click)="previousPage()">&laquo;</button>
                                        <span class="text-center mx-3">Page {{pageNumber}}</span>
                                        <button type="button" class="btn btn-primary" (click)="nextPage()">&raquo;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="searchResults.tasks.length == 0">
                            <div class="row justify-content-center">
                                <div class="col-mx-auto">
                                    <span class="mt-3 text-muted text-center"><em>No results were found for the currently entered search criteria.</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading" class="col-md-4 offset-md-4">
                        <loading-indicator [text]="'Searching...'"></loading-indicator>
                    </div>
                </tab>
                <tab heading="History">
                    <div class="row justify-content-center mt-3">
                        <div class="col-mx-auto">
                            <span class="mt-3 text-muted text-center"><em>Task History is currently unavailable.</em></span>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>