<div class="container">
    <div class="row no-gutters">
        <div class="col-md-12" >
            <h4 class="text-center">
                <span class="fa fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fa-search'"></span> {{parameters.header}}
            </h4>
            <loading-indicator></loading-indicator>
        </div>
    </div>
</div>