<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="fa fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fa-search'"></span> {{parameters.taskName}}
                    </div>
                    <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                        <ul class="nav navbar-nav ml-auto">
                            <div class="btn-group" role="group" aria-label="Task Controls">
                                <button *ngFor="let action of parameters.backwardActions" type="button" class="btn btn-danger" (click)="showActionConfirmation(action)"><i class="far fa-fw fa-times-circle"></i> {{action.text}}</button>
                                <button type="button" class="btn btn-primary" (click)="saveTask()"><i class="far fa-fw fa-save"></i> Save</button>
                                <button *ngFor="let action of parameters.forwardActions" type="button" class="btn btn-success" (click)="showActionConfirmation(action)"><i class="far fa-fw fa-check-circle"></i> {{action.text}}</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-md-12" [ngSwitch]="taskStatus">
                    <div class="bs-callout bs-callout-default" *ngSwitchCase="'NEW'">
                        <h2 class="d-block float-left mr-3"><i class="fas fa-info-circle text-muted align-middle"></i></h2>
                        Please complete the new Material Request form and submit the data when complete.  You can also cancel the request if you no longer wish to request
                        creation of the new Material.
                    </div>
                    <div class="bs-callout bs-callout-default" *ngSwitchCase="'SAVING'">
                        <h2 class="d-block float-left mr-3"><i class="fas fa-info-circle text-muted align-middle"></i></h2>
                        Your changes are being saved.  Please wait for the operation to complete.
                    </div>
                    <div class="bs-callout bs-callout-success" *ngSwitchCase="'SAVED'">
                        <h2 class="d-block float-left mr-3"><i class="fas fa-check-circle text-success align-middle"></i></h2>
                        The changes that you've made to the Material Request form have been saved.  You can now submit the request for approval or you may leave and return later
                        to carry on.  Also, you still have the option to cancel the request if you change your mind.
                    </div>
                    <div class="bs-callout bs-callout-warning" *ngSwitchCase="'UNSAVED'">
                        <h2 class="d-block float-left mr-3"><i class="fas fa-question-circle text-warning align-middle"></i></h2>
                        There are currently unsaved changes on the Material Request form.  You can now submit the request directly for approval or you may save the changes and return later
                        to carry on.  Also, you still have the option to cancel the request if you change your mind.
                    </div>
                    <div class="bs-callout bs-callout-danger" *ngSwitchCase="'VALIDATION_FAILURE'">
                        <h2 class="d-block float-left mr-3"><i class="fas fa-exclamation-triangle text-danger align-middle"></i></h2>
                        The Material Request contains invalid data that must be fixed before it can be saved.  You will see a new button below the 'Navigation Tree' button
                        that will allow you to view all of the relevant errors that require your attention.  All invalid data will be clearly marked with <i class="fas fa-exclamation-triangle text-danger"></i> icons.
                    </div>
                    <div class="bs-callout bs-callout-danger" *ngSwitchCase="'TECHNICAL_FAILURE'">
                        <h2 class="d-block float-left mr-3"><i class="fas fa-exclamation-triangle text-danger align-middle"></i></h2>
                        A technical failure prevented the changes that you've made from being saved successfully.  Please contact your administrator.
                    </div>
                </div>
            </div>                
        </div>
        <div *ngIf="!loading" class="col-md-12 offset-md-12">
            <data-file-editor #dataFileEditor [context]="ctx" (fileUpdate)="onFileUpdate()"></data-file-editor>
        </div>
        <div *ngIf="loading" class="col-md-4 offset-md-4 mb-3">
            <loading-indicator [text]="'Loading Record...'"></loading-indicator>
        </div>
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="fa fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fa-search'"></span> {{parameters.taskName}}
                    </div>
                    <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                        <ul class="nav navbar-nav ml-auto">
                            <div class="btn-group" role="group" aria-label="Task Controls">
                                <button *ngFor="let action of parameters.backwardActions" type="button" class="btn btn-danger" (click)="showActionConfirmation(action)"><i class="far fa-fw fa-times-circle"></i> {{action.text}}</button>
                                <button type="button" class="btn btn-primary" (click)="saveTask()"><i class="far fa-fw fa-save"></i> Save</button>
                                <button *ngFor="let action of parameters.forwardActions" type="button" class="btn btn-success" (click)="showActionConfirmation(action)"><i class="far fa-fw fa-check-circle"></i> {{action.text}}</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div *ngIf="actionConfirmationVisible" [config]="{ show: true }" (onHidden)="onActionConfirmationHidden()" bsModal #actionConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{selectedAction.confirmationHeader}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideActionConfirmation()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                {{selectedAction.confirmationText}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-auto ml-3">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" (click)="hideActionConfirmation()"><span class="fa fa-fw fa-times"></span> No</button>
                                    <button type="button" class="btn btn-primary" (click)="confirmationSelectedAction()"><span class="fa fa-fw fa-check"></span> Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>