<ol class="breadcrumb border-0 rounded-0 mt-0 p-2 bg-white">
    <li class="breadcrumb-item active" *ngFor="let breadcrumb of breadcrumbs">
      <a routerLink="{{breadcrumb.url}}" [queryParams]="breadcrumb.queryParams">
        {{ breadcrumb.label }}
      </a>
    </li>
</ol>