/* General */
/*.background-image
{ 
  background: url(images/background-2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body
{
    background:#ffffff;
}

.navigation-card:hover
{
    cursor: pointer;
    background: #fff;
}

/* Progress Bars */
.progress-bar
{
    background: #333333;
    color: #ddddff;
}

.frame-header
{
    background: #fafafF;
}

/* Footer */
.footer
{
    background: #fafafF;
    color: #333333;
    text-align: center;
    padding: 30px;
    margin-top: 1000px;
}

.matched-string
{
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

/* Bootstrap Callouts */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 
{
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child 
{
    margin-bottom: 0;
}
.bs-callout code 
{
    border-radius: 3px;
}
.bs-callout+.bs-callout 
{
    margin-top: -5px;
}
.bs-callout-default 
{
    border-left-color: #777;
}
.bs-callout-default h4 
{
    color: #777;
}
.bs-callout-primary 
{
    border-left-color: #428bca;
}
.bs-callout-primary h4 
{
    color: #428bca;
}
.bs-callout-success 
{
    border-left-color: #43ac6a;
}
.bs-callout-success h4 
{
    color: #43ac6a;
}
.bs-callout-danger 
{
    border-left-color: #F04124;
}
.bs-callout-danger h4 
{
    color: #F04124;
}
.bs-callout-warning 
{
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 
{
    color: #f0ad4e;
}
.bs-callout-info 
{
    border-left-color: #5bc0de;
}
.bs-callout-info h4 
{
    color: #5bc0de;
}

/*******************************************************************************************************
    BEGIN:  Modal Fix for Bootstrap Alpha 6 
    - Described:  https://github.com/shlomiassaf/angular2-modal/issues/280
********************************************************************************************************/
.fade.in 
{
  opacity: 1;
}

.modal.in .modal-dialog 
{
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in 
{
  opacity: 0.5;
}
/*******************************************************************************************************
    END: Modal Fix for Bootstrap Alpha 6
********************************************************************************************************/



/*******************************************************************************************************
    BEGIN:  Extra-large Modal size
********************************************************************************************************/
@media (min-width: 768px) 
{
  .modal-xl 
  {
    width: 90%;
    max-width:1200px;
  }
}
/*******************************************************************************************************
    END: Extra-large Modal size
********************************************************************************************************/


/*******************************************************************************************************
    BEGIN:  Primary Outline fix for Bootstrap Alpha 6
********************************************************************************************************/
.bg-white
{
    background: #fff;
}
/*******************************************************************************************************
    END:  Primary Outline fix for Bootstrap Alpha 6
********************************************************************************************************/