<div class="row">
    <div class="col-md-3">
        <notification-view [fileState]="state"></notification-view>
    </div>
    <div class="col-md-9">
        <document-view [state]="state"></document-view>
    </div>
</div>
