<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="fa fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fa-cogs'"></span> {{parameters.header}}
                    </div>
                    <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                        <ul class="nav navbar-nav ml-auto">
                        </ul>
                    </div>
                </div>
            </nav>
            <div *ngIf="!loading">
                <div *ngIf="groupHandle">
                    <div *ngIf="groupHandle.functionalities.length > 0">
                        <div class="row align-items-stretch mb-3">
                            <div *ngFor="let functionality of groupHandle.functionalities" class="col-md-4 mb-3" >
                                <div class="card bg-light h-100" role="button" (click)="onFunctionalitySelected(functionality.id)">
                                    <div class="card-body text-center functionality-card">
                                        <h2><span [class]="functionality.iconUri" aria-hidden="true"></span></h2>
                                        <h4>{{functionality.name}}</h4>
                                        <small>{{functionality.description}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let subGroupHandle of groupHandle.subGroups">
                        <div *ngIf="subGroupHandle.functionalities.length > 0">
                            <h5>{{subGroupHandle.name}}</h5>
                            <hr/>
                            <div class="row functionality-row no-gutters align-items-stretch mb-3">
                                <div *ngFor="let functionality of subGroupHandle.functionalities" class="col-md-4 pb-3 pr-3" >
                                    <div class="card bg-light h-100" role="button" (click)="onFunctionalitySelected(functionality.id)">
                                        <div class="card-body text-center functionality-card">
                                            <h2><span [class]="functionality.iconUri" aria-hidden="true"></span></h2>
                                            <h4>{{functionality.name}}</h4>
                                            <small>{{functionality.description}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="col-md-4 offset-md-4">
                <loading-indicator [text]="'Loading Functionality...'"></loading-indicator>
            </div>
        </div>
    </div>
</div>