<div class="row mb-3">
    <div class="col">
        <div class="search-box input-group">
            <input type="text" class="form-control" placeholder="Search Terms..." #searchField [(ngModel)]="searchString" (keyup.enter)="reloadValues()">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="reloadValues()">Search</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngIf="loading">
            <loading-indicator></loading-indicator>
        </div>
        <div *ngIf="!loading">
            <div *ngFor="let value of values" class="mb-3">
                <div class="card bg-light" role="button" (click)="onValueSelection(value)">
                    <div class="card-body value-card" [ngSwitch]="value.type">
                        <div *ngSwitchCase="'CONTROLLED_CONCEPT'">
                            <span highlightText [pattern]="searchPattern" [text]="value.term" classToApply="matched-string"></span>
                            <small class="text-muted">{{value.definition}}</small>
                        </div>
                        <div *ngSwitchCase="'UNIT_OF_MEASURE'">
                            <span highlightText [pattern]="searchPattern" [text]="value.term" classToApply="matched-string"></span>
                            <small class="text-muted">{{value.definition}}</small>
                        </div>
                        <div *ngSwitchCase="'DOCUMENT_REFERENCE'">
                            <span highlightText [pattern]="searchPattern" [text]="value.references[0].term" classToApply="matched-string"></span>
                            <small class="text-muted">{{value.references[0].definition}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    