<div class="data-file-editor">
    <div *ngIf="loading">
        <div class="col-md-4 offset-md-4 mb-3">
            <loading-indicator [text]="loadingText"></loading-indicator>
        </div>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="state">
            <div [ngSwitch]="state.type">
                <div *ngSwitchCase="'PAGED'">
                    <paged-view [state]="state"></paged-view>
                </div>
                <div *ngSwitchCase="null">
                    <default-layout-view [state]="state"></default-layout-view>
                </div>
            </div>
        </div>
    </div>
</div>
