<div class="card">
    <div class="card-header">
        <span class="fa fa-warning fa-fw"></span> Data Quality
    </div>
    <div class="card-block bg-white">
        <div tooltip="The percentage of characteristic properties that contain valid data or FFT" placement="right">
            <span>Completeness</span>
            <div class="progress mb-3" style="width: 100%;">
                <div class="progress-bar" [style.width.%]="completeness">{{completeness | number : '2.0-1'}}%</div>
            </div>
        </div>
        <div tooltip="The percentage of the available characteristic data values that comply with data quality rules" placement="right">
            <span>Validity</span>
            <div class="progress mb-3" style="width: 100%;">
                <div class="progress-bar" [style.width.%]="validity">{{validity | number : '2.0-1'}}%</div>
            </div>
        </div>
        <!--<span>Notifications</span>
        <div class="alert alert-warning" role="alert">
            Value Required: <a href="#" class="alert-link">Account Group</a>
        </div>
        <div class="alert alert-warning" role="alert">
            Value Required: <a href="#" class="alert-link">Telephone Number</a>
        </div>
        <div class="alert alert-danger" role="alert">
            Invalid Data: <a href="#" class="alert-link">Business Partner Type</a>
        </div>-->
    </div>
</div>