<div class="row align-items-center form-group" [ngClass]="{'has-danger':state.hasValidationErrors()}">
    <div class="col text-sm-left">
        <span>
            <i class="fas fa-exclamation-triangle text-danger" *ngIf="state.hasValidationErrors()"></i>
            <i class="fas fa-pencil-alt text-success" *ngIf="state.updated"></i>
            <i class="fas fa-key text-warning" *ngIf="state.requirement.characteristic"></i>
            {{state.requirement.term}} 
            <span class="text-warning" *ngIf="state.access.required"> (Required)</span>
        </span>
        <div class="mt-2" [ngSwitch]="state.requirement.value.type">
            <string-editor *ngSwitchCase="'STRING'" [state]="state.valueState"></string-editor>
            <text-editor *ngSwitchCase="'TEXT'" [state]="state.valueState"></text-editor>
            <number-editor *ngSwitchCase="'NUMBER'" [state]="state.valueState"></number-editor>
            <controlled-concept-editor *ngSwitchCase="'CONTROLLED_CONCEPT'" [state]="state.valueState"></controlled-concept-editor>
            <attachment-list-editor *ngSwitchCase="'ATTACHMENT'" [state]="state.valueState"></attachment-list-editor>
            <document-reference-editor *ngSwitchCase="'DOCUMENT_REFERENCE'" [state]="state.valueState" (recordNavigation)="navigateToRecord($event)"></document-reference-editor>
            <boolean-editor *ngSwitchCase="'BOOLEAN'" [state]="state.valueState"></boolean-editor>
            <measured-number-editor *ngSwitchCase="'MEASURED_NUMBER'" [state]="state.valueState"></measured-number-editor>
            <measured-range-editor *ngSwitchCase="'MEASURED_RANGE'" [state]="state.valueState"></measured-range-editor>
            <composite-editor *ngSwitchCase="'COMPOSITE'" [state]="state.valueState"></composite-editor>
            <time-editor *ngSwitchCase="'TIME'" [state]="state.valueState"></time-editor>
            <date-editor *ngSwitchCase="'DATE'" [state]="state.valueState"></date-editor>
            <date-time-editor *ngSwitchCase="'DATE_TIME'" [state]="state.valueState"></date-time-editor>
        </div>
    </div>
</div>
    
