<div *ngIf="state">
    <div *ngIf="state.loading">
        <div class="col-mx-auto">
            <loading-indicator [text]="'Creating Record...'"></loading-indicator>
        </div>
    </div>
    <div *ngIf="!state.loading">
        <div class="card bg-white">
            <div class="card-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-mx-auto ml-3">
                        <span class=""><i class="fas fa-exclamation-triangle text-danger" *ngIf="state.hasValidationErrors()"></i> {{state.record.drInstance.term}}</span>
                    </div>
                    <div class="col ml-auto">
                        <button type="button" class="close" aria-label="Close" (click)="showDeletionConfirmation()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body bg-white">
                <div *ngFor="let sectionState of state.sectionStates">
                    <section-editor *ngIf="sectionState.access.visible" [state]="sectionState" (recordNavigation)="navigateToRecord($event)"></section-editor>
                </div> 
            </div>
        </div>
    </div>
</div>
<div *ngIf="deletionConfirmationVisible" [config]="{ show: true }" (onHidden)="hideDeletionConfirmation()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Deletion Confirmation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeletionConfirmation()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            Are you sure that you want to delete this {{state.record.drInstance.term}} record?
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-auto ml-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" (click)="hideDeletionConfirmation()"><span class="fa fa-fw fa-times"></span>No</button>
                                <button type="button" class="btn btn-primary" (click)="deleteRecord()"><span class="fa fa-fw fa-check"></span>Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>