<div *ngIf="state.headerVisible">
    <strong class="section-header-text">{{state.requirement.term}}</strong>
    <hr />
</div>
<div>
    <div class="mb-4" *ngFor="let propertyState of state.propertyStates">
        <property-editor *ngIf="propertyState.access.visible" [state]="propertyState" (recordNavigation)="navigateToRecord($event)"></property-editor>
    </div>
</div>