<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="fa fa-shopping-cart fa-fw"></span> Vendor Data Quality
                </div>
                <div class="card-block">
                    <div *ngIf="!loading" class="col-md-12">
                        <h3>Vendor Master Summary</h3>
                        <hr />
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <div class="card bg-faded completeness-chart-card mb-3">
                                    <div class="card-block" tooltip="The percentage of characteristic properties that contain valid data or FFT">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <doughnut-chart #completenessChart class="completeness-chart"></doughnut-chart> 
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Completeness</h4>
                                                <div class="characteristic-completeness-text">
                                                    {{dqSummary?.characteristicCompleteness | number : '2.2-2'}}% 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-faded validity-chart-card mb-3">
                                    <div class="card-block" tooltip="The percentage of the available characteristic data values that comply with data quality rules">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <doughnut-chart #validityChart class="validity-chart"></doughnut-chart>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Validity</h4>
                                                <div class="characteristic-validity-text">
                                                    {{dqSummary?.characteristicValidity | number : '2.2-2'}}% 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Master Record Count</td>
                                            <td>{{dqSummary?.recordCount}}</td>
                                        </tr>
                                        <tr>
                                            <td>Characteristic Completeness</td>
                                            <td>{{dqSummary?.characteristicCompleteness | number : '2.2-2'}}%</td>
                                        </tr>
                                        <tr>
                                            <td>Characteristic Validity</td>
                                            <td>{{dqSummary?.characteristicValidity | number : '2.2-2'}}%</td>
                                        </tr>
                                        <tr>
                                            <td>Non-Characteristic Completeness</td>
                                            <td>{{dqSummary?.nonCharacteristicCompleteness | number : '2.2-2'}}%</td>
                                        </tr>
                                        <tr>
                                            <td>Non-Characteristic Validity</td>
                                            <td>{{dqSummary?.nonCharacteristicValidity | number : '2.2-2'}}%</td>
                                        </tr>
                                        <tr>
                                            <td>Properties Per Master</td>
                                            <td>{{dqSummary?.averagePropertyDataCount | number : '2.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Characteristics Per Master</td>
                                            <td>{{dqSummary?.averageCharacteristicDataCount | number : '2.2-2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h3>Vendor Type Breakdown</h3>
                        <hr />
                        <div class="bs-callout bs-callout-default">
                            This chart displays the characteristic completeness and validity measurements for all Vendor records grouped by Vendor Type.
                            Individual bars can be clicked to filter the record display table below.
                        </div>
                        <div class="row breakdown-chart-container mb-3">
                            <div class="col-md-12">
                                <bar-chart #breakdownChart class="breakdown-chart" (chartClicked)="onBreakdownChartClicked($event)"></bar-chart>
                            </div>
                        </div>
                        <h3 *ngIf="!selectedBreakdownCategory">Vendor Record Breakdown: All Records</h3>
                        <h3 *ngIf="selectedBreakdownCategory">Vendor Record Breakdown: {{selectedBreakdownCategory.label}}</h3>
                        <hr />
                        <div class="bs-callout bs-callout-default">
                            This table displays the records of the currently selected Vendor Type.  Rows can be clicked to view individual record detail.
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <vendor-dq-data-table #recordTable (recordSelected)="onRecordSelected($event)"></vendor-dq-data-table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading" class="col-md-4 offset-md-4">
                        <loading-indicator [text]="'Loading Report Data...'"></loading-indicator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Data Quality Report for {{selectedRecord.descriptor}}: {{selectedRecord.corporateNumber}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <data-file-editor #dataFileEditor></data-file-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>