<div class="data-table-wrapper">
    <div class="data-table-box">
        <table class="table table-condensed table-bordered data-table table-responsive">
            <thead>
                <tr class="table-primary">
                    <th [hide]="!expandColumnVisible" class="expand-column-header">
                    <th [hide]="!indexColumnVisible" class="index-column-header">
                        <span [textContent]="indexColumnHeader"></span>
                    </th>
                    <th [hide]="!selectionEnabled" class="select-column-header">
                        <input [hide]="!multiSelect" type="checkbox" [(ngModel)]="selectAllCheckbox" (click)="toggleSelectAll()"/>
                    </th>
                    <th *ngFor="let field of setup.fields" #th [hide]="!field.visible" (click)="headerClicked(field, $event)"
                        [class.sortable]="field.sortable" [class.resizable]="field.resizable"
                        [ngClass]="field.styleClassObject" class="column-header" [style.width]="field.width | px">
                        <span class="align-text-top" *ngIf="!field.headerTemplate" [textContent]="field.name"></span>
                        <span *ngIf="field.headerTemplate" [ngTemplateOutlet]="field.headerTemplate" [ngTemplateOutletContext]="{column: field}"></span>
                        <span class="column-sort-icon" *ngIf="field.sortable">
                            <span class="fa fa-sort column-sortable-icon" [hide]="field.fieldId === filter.orderByFieldId"></span>
                            <span [hide]="field.fieldId !== filter.orderByFieldId">
                                <span class="fa fa-sort-asc" [hide]="filter.orderAscending"></span>
                                <span class="fa fa-sort-desc" [hide]="!filter.orderAscending"></span>
                            </span>
                        </span>
                        <span *ngIf="field.resizable" class="column-resize-handle" (mousedown)="resizeColumnStart($event, field, th)"></span>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let entity of dataEntities; let index=index" class="data-table-row-wrapper"
                   dataTableRow #row [entity]="entity" [index]="index" [searchPattern]="searchPattern" (selectionChanged)="onRowSelectionChanged(row)">
            </tbody>
        </table>
        <div class="loading-cover" *ngIf="showReloading && reloading"></div>
    </div>
</div>