<div class="row item-row no-gutters align-items-stretch mb-3" matchClassHeight="card-header">
    <div class="col-lg-3 col-md-4 col-6 pb-3 pr-3" *ngFor="let entity of entities">
        <div class="card bg-white h-100">
            <div class="header-badge badge badge-pill badge-success clickable float-left">
                <h5 class="pb-0 mb-0" highlightText [pattern]="searchPattern" [text]="entity.getField(setup.badgeField.id)" classToApply="matched-string"></h5>
            </div>
            <div class="card-header item-header bg-white clickable p-3 m-0" role="button" (click)="onCardClick(entity)">
                <img class="item-image w-100 h-100 d-inline-block" [src]="getImageUrl(entity)">
            </div>
            <div class="card-body clickable text-start item-card d-flex flex-column justify-content-between" role="button" (click)="onCardClick(entity)">
                <div class="row not-gutters mb-2">
                    <div class="col-md-12 text-center">
                        <h6 class="card-subtitle mb-2" highlightText [pattern]="searchPattern" [text]="entity.getField(setup.headerField.id)" classToApply="matched-string"></h6>
                    </div>
                </div>
                <ng-container *ngFor="let field of setup.bodyFields">
                    <div class="row no-gutters" *ngIf="field.visible">
                        <small class="col-5 text-right text-muted pr-1">{{field.name}} </small>
                        <ng-container [ngSwitch]="field.type">
                            <small class="col-7" *ngSwitchCase="'STRING'" highlightText [pattern]="searchPattern" [text]="entity.getField(field.id)" classToApply="matched-string"></small>
                            <small class="col-7" *ngSwitchCase="'DATE_TIME'">{{entity.getField(field.id) | date:'yyyy-MM-dd HH:mm'}}</small>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div class="card-footer clickable text-center bg-white p-1">
                <ng-container [ngSwitch]="setup.footerField.type">
                    <small class="col-7" *ngSwitchCase="'STRING'" highlightText [pattern]="searchPattern" [text]="entity.getField(setup.footerField.id)" classToApply="matched-string"></small>
                    <small class="col-7" *ngSwitchCase="'DATE_TIME'">{{entity.getField(setup.footerField.id) | date:'yyyy-MM-dd HH:mm'}}</small>
                </ng-container>
            </div>
        </div>
    </div>
</div>