<div class="row justify-content-start mb-4" aria-label="Filter Bar">
    <div class="col-auto mr-auto">
        <!-- View Switch Group -->
        <div class="btn-group" role="group" *ngIf="setup.viewSwitchEnabled">
            <button type="button" class="btn btn-secondary" (click)="state.viewType = 'TABLE'" [ngClass]="{'disabled': state.viewType == 'TABLE'}"><i class="fas fa-th-list"></i></button>
            <button type="button" class="btn btn-secondary" (click)="state.viewType = 'CARD'" [ngClass]="{'disabled': state.viewType == 'CARD'}"><i class="fab fa-microsoft"></i></button>
        </div>
        <div class="btn-group" role="group">
            <!-- Filter Group -->
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
                    <i class="fas fa-filter"></i>
                </button>
                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <button class="dropdown-item text-dark" *ngFor="let field of tableSetup.fields" type="button" (click)="addFilterCriterion(field.id)">
                        {{field.name}}
                    </button>
                </div>
            </div>
            <!-- Sorting Group -->
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
                    <i class="fas fa-sort-alpha-down"></i>
                </button>
                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <button class="dropdown-item text-dark" *ngFor="let field of tableSetup.fields" type="button" (click)="addFieldOrdering(field.id)">
                        {{field.name}}
                    </button>
                </div>
            </div>
            <!-- Field Visibility Group -->
            <div *ngIf="state.viewType == 'TABLE'" class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
                    <i class="fas fa-columns"></i>
                </button>
                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <button class="dropdown-item text-dark" *ngFor="let field of tableSetup.fields" type="button" (click)="field.visible = !field.visible">
                        {{field.name}} <i class="fas fa-check ml-3" *ngIf="field.visible"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="state.viewType == 'CARD'" class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
                    <i class="fas fa-columns"></i>
                </button>
                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <button class="dropdown-item text-dark" *ngFor="let field of cardSetup.bodyFields" type="button" (click)="field.visible = !field.visible">
                        {{field.name}} <i class="fas fa-check ml-3" *ngIf="field.visible"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Download Report Group -->
        <div class="btn-group" role="group" *ngIf="setup.downloadReportEnabled">
            <button type="button" class="btn btn-secondary" (click)="onDownloadReport()"><i class="fas fa-download"></i></button>
        </div>
    </div>
    <div class="col-auto mt-3 mt-md-0">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" (click)="previousPage()"><i class="fas fa-angle-left"></i></button>
            <button type="button" class="btn btn-secondary">Page {{state.pageNumber}}</button>
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
                    Size {{state.pageSize}}<span class="caret"></span>
                </button>
                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <button class="dropdown-item text-dark" *ngIf="state.pageSize != 8" type="button" (click)="setPageSize(8)">8 Results</button>
                    <button class="dropdown-item text-dark" *ngIf="state.pageSize != 16" type="button" (click)="setPageSize(16)">16 Results</button>
                    <button class="dropdown-item text-dark" *ngIf="state.pageSize != 24" type="button" (click)="setPageSize(24)">24 Results</button>
                    <button class="dropdown-item text-dark" *ngIf="state.pageSize != 50" type="button" (click)="setPageSize(50)">50 Results</button>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="nextPage()"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <small class="text-muted" *ngIf="!hasCriteria()">No Filter Criteria Specified</small>
        <div class="row align-items-center mb-1" *ngIf="state.recordFilterCriteria">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-danger ml-0" (click)="clearRecordSearchCriteria()">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="col text-left mr-auto">
                <small class="text-muted"><i class="fas fa-search"></i> Advanced Search: </small><small>{{getRecordFilterDisplayString()}}</small>
            </div>
        </div>
        <div class="row align-items-center mb-1" *ngIf="state.searchExpression">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-danger ml-0" (click)="clearSearchExpression()">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="col text-left mr-auto">
                <small class="text-muted"><i class="fas fa-search"></i> Search For: </small><small>"{{state.searchExpression}}"</small>
            </div>
        </div>
        <div class="row align-items-center mb-1" *ngFor="let criterion of state.filterCriteria">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-danger ml-0" (click)="removeFilterCriterion(criterion)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="col-md-3 text-left">
                <small class="text-muted"><i class="fas fa-filter"></i> Filter: </small><small>{{getFieldName(criterion.fieldId)}}</small>
            </div>
            <div class="col-md-2">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-link btn-sm dropdown-toggle" aria-controls="dropdown-basic">
                        {{getOperatorName(criterion.operator)}}
                    </button>
                    <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <button class="dropdown-item text-dark" type="button" *ngFor="let operator of operators" (click)="setFilterCriterionOperator(criterion, operator.id)">
                            {{operator.name}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <input class="form-control form-control-sm" type="text" [(ngModel)]="criterion.value" (keyup.enter)="onFilterChanged()">
            </div>
        </div>
        <div class="row align-items-center mb-1" *ngFor="let ordering of state.fieldOrdering">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-danger ml-0" (click)="removeFieldOrdering(ordering)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="col-md-3 text-left">
                <small class="text-muted"><i class="fas fa-sort-alpha-down"></i> Order By: </small><small>{{getFieldName(ordering.fieldId)}}</small>
            </div>
            <div class="col-md-2 mr-auto">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-link btn-sm dropdown-toggle" aria-controls="dropdown-basic">
                        {{ordering.method == "ASCENDING" ? "Ascending" : "Descending"}}
                    </button>
                    <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <button class="dropdown-item text-dark" type="button" (click)="setFieldOrderAscending(ordering)">
                            Ascending
                        </button>
                        <button class="dropdown-item text-dark" type="button" (click)="setFieldOrderDescending(ordering)">
                            Descending
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>