<tr	class="data-table-row"
    [title]="getTooltip()"
    [style.background-color]="dataTable.getRowColor(item, index, _this)"
    [class.row-odd]="index % 2 === 0"
    [class.row-even]="index % 2 === 1"
    [class.selected]="selected"
    [class.clickable]="dataTable.rowClickEnabled"
    (dblclick)="dataTable.onRowDoubleClicked(_this, $event)"
    (click)="dataTable.onRowClicked(_this, $event)"
    >
    <td [hide]="!dataTable.expandColumnVisible" (click)="expanded = !expanded; $event.stopPropagation()" class="row-expand-button">
        <span class="fa fa-chevron-right" [hide]="expanded"></span>
        <span class="fa fa-chevron-down" [hide]="!expanded"></span>
    </td>
    <td [hide]="!dataTable.indexColumnVisible" class="index-column" [textContent]="displayIndex"></td>
    <td [hide]="!dataTable.selectionEnabled" class="select-column">
        <input type="checkbox" [(ngModel)]="selected" (click)="toggleSelection();$event.stopPropagation()"/>
    </td>
    <td *ngFor="let field of dataTable.setup.fields" [hide]="!field.visible" [ngClass]="field.styleClassObject" class="data-column">
        <div [ngSwitch]="field.type">
            <span *ngSwitchCase="'STRING'" highlightText [pattern]="searchPattern" [text]="entity.getField(field.id)" classToApply="matched-string"></span>
            <img *ngSwitchCase="'ATTACHMENT_IMAGE'" class="table-image img-fluid img-thumbnail" [src]="getAttachmentUrl(entity.getField(field.id))">
            <span *ngSwitchCase="'DATE_TIME'">{{entity.getField(field.id) | date:'yyyy-MM-dd HH:mm'}}</span>
        </div>
    </td>
</tr>
<tr *ngIf="dataTable.expandableRows" [hide]="!expanded" class="row-expansion">
    <td [attr.colspan]="dataTable.columnCount">
        <div [ngTemplateOutlet]="dataTable.expandTemplate" [ngTemplateOutletContext]="{row: _this, entity: entity}"></div>
    </td>
</tr>