.loading-indicator
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loading-animation
{
    width:25px;
    height:25px;
    border:3px solid #ccc;
    border-top-color:#05f;
    border-radius:100%;
    animation: round 1s linear infinite;
}
.loading-text
{
    margin: 5px;
}
@keyframes round 
{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}