<div>
    <div class="boolean-editor">
        <label class="custom-control">
            <input id="radioTrue" [name]="filterCriteriaId + propertyId" [checked]="valueCriterion.value == 'true'"  (change)="onValueChange($event)" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Yes</span>
        </label>
        <label class="custom-control">
            <input id="radioFalse" [name]="filterCriteriaId + propertyId" [checked]="valueCriterion.value == 'false'" (change)="onValueChange($event)" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">No</span>
        </label>
        <label class="custom-control">
            <input id="radioUnspecified" [name]="filterCriteriaId + propertyId" [checked]="valueCriterion.value == null" (change)="onValueChange($event)" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Any Value</span>
        </label>
    </div>
</div>