<div>
    <div class="input-group">
        <input class="form-control w-100" type="text" [(ngModel)]="displayValue" (keyup)="onUserInput($event)"/>
        <button class="btn btn-secondary" type="button" (click)="showValueLookup()"><span class="fa fa-search"></span></button>
        <button class="btn btn-secondary" type="button" (click)="clearSelectedValue()"><span class="fa fa-times"></span></button>
    </div>
</div>

<div *ngIf="isValueLookupShown" [config]="{ show: true }" (onHidden)="onValueLookupHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Value Selection</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideValueLookup()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="search-box input-group">
                                <input type="text" class="form-control" placeholder="Search Values..." #searchField [(ngModel)]="searchString" (keyup.enter)="reloadValues()">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" (click)="reloadValues()">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div *ngIf="loading">
                                <loading-indicator></loading-indicator>
                            </div>
                            <div *ngIf="!loading">
                                <div *ngFor="let value of valueLookupOptions" class="mb-3">
                                    <div class="card bg-light" role="button" (click)="onValueSelection(value)">
                                        <div class="card-body value-card">
                                            <span highlightText [pattern]="searchPattern" [text]="value.term" classToApply="matched-string"></span>
                                            <small class="text-muted">{{value.definition}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>