<div>
    <div class="date-time-type">
        <div class="input-group">
            <input type="text" class="form-control" id="propertyId" [(ngModel)]="dateTimeString" (blur)="onBlur()">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="toggleDatePicker()"><span class="fas fa-calendar-alt"></span></button>
            </span>
            <div *ngIf="showDatePicker" style="position: absolute; z-index:10; top:100%; right:0px; min-height:290px;">
                <datepicker [(ngModel)]="dateTime" [showWeeks]="true" (ngModelChange)="onPickerModelChange($event)" (selectionDone)="onDateTimeSelected()"></datepicker>
            </div>
        </div>
    </div>
</div>