<div *ngIf="loading" class="col-md-4 offset-md-4">
    <loading-indicator [text]="'Loading Report...'"></loading-indicator>
</div>
<div *ngIf="!loading">
    <div class="bs-callout bs-callout-default">
        This report displays detail information of the selected Material Item. You can also click on any of the available
        actions to perform your needs.
    </div>
    <div class="row mb-5">
        <div class="col-lg-4 col-md-12 col-sm-12">        
            <div class="card bg-white h-100" (click)="showImageLookup()">
                <div class="header-badge badge badge-pill badge-success float-left">
                    <h5 class="pb-0 mb-0" classToApply="matched-string">{{state.dataMap.corpNo}}</h5>
                </div>
                <div class="bg-white m-auto p-3">
                    <img class="item-image w-100 h-100 d-inline-block" [src]="preferredImageUrl">
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-3 mt-lg-0 pl-lg-0">
            <h5 class="font-weight-bold">{{state.dataMap.header}}</h5>
            <div class="row">
                <div class="col-10" *ngFor="let section of state.dataMap.headerDetail.sections">
                    <div class="row" *ngFor="let field of section.fields">
                        <div class="col">
                            <small class="font-weight-bold">{{field.header}}:</small>
                            <small>{{field.value}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-end mr-0">
                    <div class="btn-group float-right" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                aria-controls="dropdown-basic">
                            Actions <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="generateReport()">Download Report</a></li>
                            <li role="menuitem"><a class="dropdown-item">Corporate Change</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tabset #taskTabs>
        <tab *ngFor="let group of state.dataMap.groups">
            <ng-template tabHeading>
                <small>{{group.header}}</small>
            </ng-template>
            <div *ngFor="let subGroup of group.subGroups">
                <div class="mt-3">
                    <h6 class="font-weight-bold">{{subGroup.header}}</h6>
                    <div *ngFor="let section of subGroup.sections" class="mt-3">
                        <table class="table table-striped">
                            <thead>
                                <tr class="d-flex table-primary">
                                <th class="col-12">{{section.header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex" *ngFor="let field of section.fields">
                                    <td class="col-3">
                                        <small class="font-weight-bold">{{field.header}}</small>
                                    </td>
                                    <td class="col-9">
                                        <small>{{field.value}}</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="!group.subGroups.length > 0" class="row justify-content-center mt-3">
                <div class="col-mx-auto">
                    <span class="mt-3 text-muted text-center"><em>No results were found for the current record.</em></span>
                </div>
            </div>
        </tab>
    </tabset>
</div>

<div *ngIf="isImageLookupShown" [config]="{ show: true }" (onHidden)="onImageLookupHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container mb-3">
                    <div class="row mb-3">
                        <div class="col">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="hideImageLookup()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="m-auto">
                        <img class="w-100 h-100 d-inline-block" [src]="preferredImageUrl">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>