<div class="container">
    <div class="row no-gutters">
        <div class="col-md-12" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="fa fa-fw" [ngClass]="(accessHandle != null)?accessHandle.iconUri:'fa-search'"></span> {{parameters.header}}
                    </div>
                    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapse()">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                        <ul class="navbar-nav mr-auto">            
                            <li class="nav-item"><a routerLink="./quick" class="nav-link" [queryParams]="{functionality_iid:accessHandle.iid}">
                                <span class="fas fa-bolt fa-fw" aria-hidden="true"></span> Quick</a>
                            </li>
                            <li class="nav-item"><a routerLink="./advanced" class="nav-link" [queryParams]="{functionality_iid:accessHandle.iid}">
                                <span class="far fa-list-alt fa-fw" aria-hidden="true"></span> Advanced</a>
                            </li>
                            <li class="nav-item"><a routerLink="./classification" class="nav-link" [queryParams]="{functionality_iid:accessHandle.iid}">
                                <span class="fas fa-tags fa-fw" aria-hidden="true"></span> Classification</a>
                            </li>
                            <li class="nav-item"><a routerLink="./template" class="nav-link" [queryParams]="{functionality_iid:accessHandle.iid}">
                                <span class="fas fa-file-alt fa-fw" aria-hidden="true"></span> Template</a>
                            </li>
                        </ul>
                        <div class="navbar-collapse" [ngClass]="{ 'collapse': navbarCollapsed, 'expand': !navbarCollapsed }">
                            <ul class="nav navbar-nav ml-auto">
                                <div class="btn-group" role="group" aria-label="Material Catalogue Search Controls">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="itemMenuVisible" [config]="{ show: true }" (onHidden)="onItemMenuHidden()" bsModal #itemMenuModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="fa fa-fw fa-user-circle-o"></span> Item Detail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideItemMenu()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <functionality-list-menu [context]="ctx" [functionalityGroupId]="parameters.itemFunctionalityGroupId"></functionality-list-menu>
                </div>
            </div>
        </div>
    </div>
</div>