<div class="bg-white" *routeView="true;visible:(this.route.firstChild != null)">
    <div class="bs-callout bs-callout-default">
        Please enter the search terms that we can use to find the item you are looking for.  Your search results will be displayed, 
        from which you can select an item to see the functionalities available for execution.  If the item you require is not available 
        in the search results, you'll be offered the option to create a new item.
    </div>
    <div class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Materials..." #searchField [(ngModel)]="state.searchExpression" (keyup.enter)="newSearch()">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="newSearch()">Search</button>
            </span>
        </div>
    </div>
    <mat-search-results #quickSearchResults [id]="'SEARCH_RESULTS'"></mat-search-results>
</div>