<div class="row mb-3">
    <div class="col">
        <div class="bs-callout bs-callout-default">
            Please select the appropriate action to take for the selected item.
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngIf="loading">
            <loading-indicator></loading-indicator>
        </div>
        <div *ngIf="!loading">
            <img *ngIf="item.imageUrl" class="item-image img-fluid img-thumbnail" [src]="item.imageUrl" (error)="setNoImage(item)">
            <h5 class="mt-3">{{item.corporateNumber}}</h5>
            <div class="mt-3">
                <h5>{{item.shortDescription}}</h5>
                <small>{{item.longDescription}}</small>
            </div>
            <div *ngFor="let functionality of functionalities" class="mb-3">
                <div class="card bg-light" role="button" (click)="onFunctionalitySelection(functionality)">
                    <div class="card-body profile-card">
                        <small class="text-muted">{{functionality.description}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>