<div class="bg-white" *routeView="this.routeComponent;visible:(this.route.firstChild != null)">
    <div class="mb-4">
        <data-filter-bar #filterBar 
            [state]="state.filterBarState" 
            [setup]="parameters.filterBarSetup"
            [tableSetup]="tableSetup" 
            [cardSetup]="cardSetup"
            [entityId]="parameters.entityId"
            (downloadReport)="generateReport()"
            (filterChanged)="search()">
        </data-filter-bar>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="state.searchResults.entities.length > 0">
            <div [ngSwitch]="state.filterBarState.viewType">
                <div *ngSwitchCase="'CARD'">
                    <data-card-deck #resultCardDeck 
                        [entities]="state.searchResults.entities"
                        [setup]="cardSetup"
                        (cardClick)="onItemSelected($event.entity)"
                        [searchPattern]="state.searchPattern">
                    </data-card-deck>
                </div>
                <div *ngSwitchCase="'TABLE'">
                    <data-table #resultTable 
                        [entities]="state.searchResults.entities"
                        [setup]="tableSetup"
                        (rowClicked)="onItemSelected($event.row.entity)"
                        (rowDoubleClicked)="rowDoubleClick($event)"
                        (selectionChanged)="onSelectionChanged($event)"
                        [rowTooltip]="rowTooltip"
                        [rowClickEnabled]="true"
                        [selectionEnabled]="true"
                        [searchPattern]="state.searchPattern">
                    </data-table>
                </div>
            </div>
        </div>
        <div *ngIf="state.searchResults.entities.length == 0">
            <div class="row justify-content-center">
                <div class="col-mx-auto">
                    <span class="mt-3 text-muted text-center"><em>No results were found for the currently entered search criteria.</em></span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="col-md-4 offset-md-4">
        <loading-indicator [text]="'Searching...'"></loading-indicator>
    </div>
</div>
                
<div *ngIf="itemMenuVisible" [config]="{ show: true }" (onHidden)="onItemMenuHidden()" bsModal #itemMenuModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="fa fa-fw fa-user-circle-o"></span> Item Detail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideItemMenu()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <functionality-list-menu [context]="ctx" [functionalityGroupId]="parameters.itemFunctionalityGroupId"></functionality-list-menu>
                </div>
            </div>
        </div>
    </div>
</div>