<div class="bg-white">
    <div class="bs-callout bs-callout-default">
        Please select the template from which to create your new item.  You can also enter or change the search terms to find the applicable template you are looking for.
    </div>
    <div class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Templates..." #searchField [(ngModel)]="state.filterBarState.searchExpression" (keyup.enter)="newSearch()">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="newSearch()">Search</button>
            </span>
        </div>
    </div>
    <div class="mb-4">
        <data-filter-bar #filterBar 
            [state]="state.filterBarState" 
            [setup]="parameters.filterBarSetup"
            [tableSetup]="state.tableSetup" 
            [entityId]="parameters.entityId"
            (downloadReport)="generateReport()"
            (filterChanged)="search()">
        </data-filter-bar> 
    </div>
    <div *ngIf="!loading">
        <div *ngIf="state.searchResults.entities.length > 0">
            <data-table #resultTable 
                [entities]="state.searchResults.entities"
                [setup]="state.tableSetup"
                (rowClicked)="onTemplateSelected($event.row.entity)"
                [rowTooltip]="rowTooltip"
                [rowClickEnabled]="true"
                [searchPattern]="state.searchPattern">
            </data-table>
        </div>
        <div *ngIf="state.searchResults.entities.length == 0">
            <div class="row justify-content-center">
                <div class="col-mx-auto">
                    <span class="mt-3 text-muted text-center"><em>No results were found for the currently entered search criteria.</em></span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="col-md-4 offset-md-4 mt-3">
        <loading-indicator [text]="'Searching...'"></loading-indicator>
    </div>
</div>
<div *ngIf="templateMenuVisible" [config]="{ show: true }" (onHidden)="onTemplateMenuHidden()" bsModal #templateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="fa fa-fw fa-user-circle-o"></span> Template Options</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideTemplateMenu()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="bs-callout bs-callout-default">
                        Please select a function from the list to perform on the selected template: {{selectedTemplate.term}}
                    </div>
                    <functionality-list-menu [context]="ctx" [functionalityGroupId]="parameters.templateFunctionalityGroupId" [targetObjectId]="parameters.templateObjectId" [targetObjectIid]="selectedTemplate.drIid"></functionality-list-menu>
                </div>
            </div>
        </div>
    </div>
</div>