<div class="bg-white" *routeView="true;visible:(this.route.firstChild != null)">
    <data-file-search 
        [inputRecordFilterCriteria]="state.recordFilterCriteria" 
        [inputTerminology]="state.terminology" 
        (search)="searchRecordCriteria($event)">
    </data-file-search>
</div>