.characteristic-completeness-text
{
    font-size: 50px;
}

.characteristic-validity-text
{
    font-size: 50px;
}

@media (min-width: 768px) 
{
  .modal-xl 
  {
    width: 90%;
    max-width:1200px;
  }
}